<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  </head>
  <body>
    {% section 'header' %}

    <main role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
    {{ content_for_footer }}
  </body>
</html>
